.banner-content{
    padding-left: 3rem;
    padding-top: 300px;
    width: 45rem;
}
.banner-content h1{
    font-size: 3.5rem;
}
.banner-content h2{
    font-size: 1.5rem;
    margin-top: 10px;
}
.more{
    color: white;
    border-color: white;
}
.more:hover{
    background-color: white;
    color: black;
}