.row{
    margin-left: 20px;
    margin-bottom: 20px;
}
::-webkit-scrollbar{
    display: none;

}
.movie_row{
    display: flex;
    overflow-x: scroll;
    margin-top: 20px;
}
.movie{
    width: 100%;
    height: 220px;
    margin-right: 15px;
    transition: 460ms;
}
.movie:hover{
    transform: scale(1.06);
}
.movie_poster{
    height: 400px;
}